<h1>How you doin'</h1>

<%= image_tag "/images/about.jpeg", :alt => "Profile Picture", :class => "align-left" %>
<p>
  I am a Ruby on Rails developer currently living in Hong Kong.
  I have been here since end of 2009 and will stay here until... who knows?
</p>

<p>
  Programming started out as a hobby for me. I have never been good at coming up with new ideas by myself but I really
  enjoy trying to be creative and so I started out with trying to copy and modify other peoples idea just to keep
  learning.
</p>

<p>
  When I started working many years ago it was not within development, but it bothered me when I saw tasks
  being done manually or poorly because of lack of better tools or routines and that has always been one of the bigger
  motivator for me to create tools and apps.
</p>

<h2>Where am I active?</h2>
<ul>
  <li><%= link_to "StackOverflow", "http://stackoverflow.com/users/511558/dannemanne" %></li>
  <li><%= link_to "GitHub", "https://github.com/dannemanne" %></li>
  <li><%= link_to "Google+", "https://profiles.google.com/106197048505429051160", :rel => "me" %></li>
</ul>
