<% content_for :title do %>About Me<% end %>

<h1>About Me</h1>

<%= image_tag '/images/about.jpeg', alt: 'Profile Picture', class: 'align-left' %>
<p>
  I am a Software Developer currently living in Hong Kong.
  I have been here since end of 2009 and will stay here until... who knows?
</p>

<p>
  Computers in general have always been a passion of mine. And when I started coding, it was a very exciting time.
  It really felt like a way to channel a longing for creativity. And the main thing that spurred me on was the desire
  to become as good as other coders that I came into contact with.
</p>

<p>
  When I started working many years ago it was not within development, but it bothered me when I saw tasks
  being done manually or poorly because of lack of better tools or routines and that has always been one of the bigger
  motivator for me to create tools and apps.
</p>

<h2>Where am I active?</h2>
<ul style="list-style: none; margin-left: 0;">
  <li><%= link_to 'StackOverflow', 'http://stackoverflow.com/users/511558/dannemanne' %></li>
  <li><%= link_to 'GitHub', 'https://github.com/dannemanne' %></li>
  <li><%= link_to 'https://twitter.com/dannemanne84', rel: 'me' do %>
    Twitter
  <% end %></li>
</ul>
