<% content_for :splash do %>
  <div id="splash" class="intro">
    <div class="profile">
      <%= image_tag image_url('profiles.png') %>
    </div>
  </div>
<% end %>

<% recent_posts.each do |post| %>
  <%= render '/posts/post_preview', post: post %>
<% end %>

<% content_for :sidebar_right do %>
  <%= popular_tags %>
<% end %>
