<h1>Welcome to DanneManne.com</h1>

<p>
  I am a Ruby on Rails developer currently living in Hong Kong.
  My posts will mainly have a coding focus. Most of it will be about Rails but as I try other things,
  I will try to share anything I find valuable, wierd or just fun.
</p>

<div style="height: 1px; background-color: rgb(212,212,212); margin: 10px 0;"></div>

<% recent_posts.each do |post| %>

  <%= render "/posts/post_preview", :post => post %>
  <div style="height: 1px; background-color: rgb(212,212,212); margin: 10px 0;"></div>

<% end %>
