<% content_for :title do %>Browse Tags for specific content<% end %>
<% content_for :meta_description do %>News, tips and tutorials about programming. Browse all Tags for specific content<% end %>

<h1>All Tags</h1>

<% @tags.each do |tag| %>

  <p><%= link_to tag.name, tag_path(tag) %></p>

<% end %>
