<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-2 medium-8">
    <h2 class="uppercase"><%= title "Tags" %></h2>
    <% description "Browse Blog Posts by Tag" %>

    <% @tags.each do |tag| %>
      <p><%= link_to tag.name, tag_path(tag) %></p>
    <% end %>
  </div>
</div>
