<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-2 medium-8">
    <h2><%= title @tag.name %></h2>
    <% description "Here are posts tagged with #{@tag.name}" %>

    <% if can? :update, @tag %>
      <p><%= link_to 'Edit', edit_tag_path(@tag) %></p>
    <% end %>

    <h2>Tagged posts</h2>
    <% @tag.posts.each do |post| %>

      <%= render '/posts/post_teaser', post: post %>

    <% end %>

    <%= render 'partials/disqus_count' %>
  </div>
</div>
