<div class="grid-x grid-x-padding">
  <div class="cell medium-8 medium-offset-2 large-6 large-offset-3 text-center">
    <h1>We're sorry, but something went wrong.</h1>
    <p>We've been notified about this issue and we'll take a look at it shortly.</p>
    <p><%= link_to 'Go back to first page', root_path %></p>
  </div>
</div>
