<h2 class="uppercase"><%= title "Blog Posts: #{archive_date.strftime('%B %Y')}" %></h2>
<% description "Listing all posts from #{archive_date.strftime('%B %Y')}" %>

<% @posts.each do |post| %>
  <%= render '/posts/post_teaser', post: post %>
<% end %>

<%= render 'partials/disqus_count' %>
