<div class="grid-x grid-padding-x">
  <div class="cell medium-offset-2 medium-8">
    <h2 class="page-title"><%= title "Blog Posts: #{archive_date.strftime('%B %Y')}" %></h2>
    <% description "Listing all posts from #{archive_date.strftime('%B %Y')}" %>

    <% @posts.each do |post| %>

      <%= render '/posts/post_teaser', post: post %>
      <div style="height: 1px; background-color: rgb(212,212,212); margin: 10px 0;"></div>

    <% end %>

    <%= render 'partials/disqus_count' %>
  </div>
</div>
