<% content_for :head do %>
  <script type="application/ld+json">
    <%=
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "My personal Blog | DanneManne",
        "url": canonical_href,
        "author": rich_text_author,
      }.to_json.html_safe
    %>
  </script>
<% end %>

<h2 class="uppercase"><%= title "Posts" %></h2>
<% description "Listing all posts" %>

<% @posts.each do |post| %>
  <%= render '/posts/post_teaser', post: post %>
<% end %>

<%= render 'partials/disqus_count' %>
