<% content_for :grid_container_class do %>narrow<% end %>

<h2 class="page-title"><%= title "Blog Posts" %></h2>
<% description "Listing all blog posts" %>

<% @posts.each do |post| %>
  <%= render '/posts/post_teaser', post: post %>
<% end %>

<%= render 'partials/disqus_count' %>
