<% content_for :head do %>
  <script type="application/ld+json">
    <%=
      {
        "@context": "http://schema.org",
        "@type": "Blog",
        "name": "The personal Blog of DanneManne",
        "url": canonical_href,
        "author": {
          "@type": "Person",
          "familyName": "Viklund",
          "givenName": "Daniel",
          "name": "Daniel Viklund",
          "alternateName": "DanneManne",
          "sameAs": [
            "https://twitter.com/dannemanne84",
            "https://www.linkedin.com/in/daniel-viklund-83231793/",
            "https://github.com/dannemanne",
            "https://stackoverflow.com/users/511558/dannemanne",
            "https://dev.to/dannemanne",
            "https://www.buymeacoffee.com/dannemanne",
          ],
        },
      }.to_json.html_safe
    %>
  </script>
<% end %>

<h2 class="page-title"><%= title "Blog Posts" %></h2>
<% description "Listing all blog posts" %>

<% @posts.each do |post| %>
  <%= render '/posts/post_teaser', post: post %>
<% end %>

<%= render 'partials/disqus_count' %>
