/**
 * 100% height layout with header and footer
 * ----------------------------------------------
 * Feel free to copy/use/change/improve
 */
body {
    height: auto;
    min-height: 100%;
}

div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */

	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
    width: 100%;

	min-height:100%; /* real browsers */
}

div#content {
	padding:0 0 4rem; /* bottom padding for footer */
}

footer {
	position:absolute;
    height: 4rem;
	width:100%;
	bottom:0; /* stick to bottom */
}
