/* CSS RESET */
body{padding:0;margin:0;font:13px Arial,Helvetica,Garuda,sans-serif;*font-size:small;*font:x-small;}
h1,h2,h3,h4,h5,h6,ul,li,em,strong,pre,code,address{padding:0;margin:0;line-height:1em;font-size:100%;font-weight:normal;font-style: normal;}
table{font-size:inherit;font:100%;}
img{border:0;}
p{margin: 0;}
address{display: inline;}
strong{font-weight: bold;}


html,body {
	background-color: #EDF5FA;

	font-family:arial,sans-serif;
	font-size:small;
	color:#494949;
}

h1 {
    color:#494949;
	font:1.5em arial,sans-serif;
	margin: 2em 0 0;
}

h2 {
    color:#494949;
	font:1.25em arial,sans-serif;
	margin: 1.5em 0 0;
}

h1, h2 {
    color:#494949;
}

p {
    font-family:arial,sans-serif;
    color:#494949;
	line-height:1.5;
	margin: 1em 0 0;
    padding: 0;
}

a:link, a:visited {color:#027AC6; text-decoration: none;}
a:hover {color:#0062A0; text-decoration: underline;}

div#header-top {
    height: 20px;
    font-size: 8pt;
}

header, article, footer, nav, section {
    display: block;
}

header.body-header {
    position: relative;
    z-index: 100;
	height: 100px;
    min-width: 960px;
    width: 100%;
    padding: 10px 0;
    background:-webkit-gradient(linear,0% 0%,0% 100%,
        color-stop(0%, #0062A0),
        color-stop(100%, #0490FF));

    background:-moz-linear-gradient(top,
        #0062A0,
        #0490FF);

    -webkit-box-shadow: 0 2px 8px rgba(160, 160, 160, 1);
    -moz-box-shadow: 0 2px 8px rgba(160, 160, 160, 1);
     box-shadow: 0 2px 8px rgba(160, 160, 160, 1);
}
header.body-header span {
    margin: 0 3px;
}

header.body-header .header-logo {
    margin: 17px 0;
}

footer {
    display:block;
}
	footer p {
        font-size: 10px;
		margin:0;
	}

div#workspace {
    background: #fff;
    padding: 10px 0;

    -webkit-box-shadow: 0 0 6px rgba(160, 160, 160, 1);
    -moz-box-shadow: 0 0 6px rgba(160, 160, 160, 1);
     box-shadow: 0 0 6px rgba(160, 160, 160, 1);

    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
}

div#left_side, div#right_side {
    padding: 10px 0;
}

div#left_side section, div#right_side section {
    padding: 0 0 20px;
}

div#left_side p, div#right_side p {
    line-height: 0.9;
    margin: 0 0 8px;
}


/* Navigation */
#left_side ul, #right_side ul {
    list-style-type: none;
}

#left_side li, #right_side li {
    margin: 0.5em 0;
}




.wrap_left {
    float:left;
}
.wrap_right {
    float:right;
}


/* Form Error Styles */
.field_with_errors {display: inline;}
.field_with_errors label {color: #f00;}
.field_with_errors input {border: 1px solid #f00;}
.field_with_errors textarea {border: 1px solid #f00;}


/* Post Styles */
article {
    padding: 10px;
}
article li {
    margin: 0.5em 0 0.5em 1.5em;
}

div.post-preview {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius: 3px;
    border: 2px dashed #ccc;
    padding: 4px 2px;
    margin-bottom: 25px;
}

section.prev-next {
    text-align: center
}

div.message {
    border-top: 1px solid rgb(212,212,212);
    padding-top: 10px;
    margin-top: 10px;
}

div.message div.actions {

}

div.message div.actions div.reply {
    display: none;
    padding-left: 20px;
}

div.nested_messages {
    padding-left: 20px;
}

/* Tag Styles */
.postTagContainer {
    float: right;
    margin: 1em 0;
    clear: both;
}


/* PrettyPrint editions
****************************/
pre .str, code .str { color: #65B042; font-weight: bold; } /* string  - green */
pre .kwd, code .kwd { color: #1771A7; font-weight: bold; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #4498DD; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #1771A7; font-weight: bold; } /* html/xml tag    - blue */
pre .atn, code .atn { color: #4498DD; font-weight: bold; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; font-weight: bold; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #4498DD; } /* decimal - blue */

code.prettyprint .pun { color: #000; } /* punctuation inline - black */
code.prettyprint .pln { color: #000; } /* plaintext inline - black */

pre.prettyprint {
    background-color: rgba(0, 0, 0, 1);
    border-bottom-right-radius: 4px;
    border-left: 2px solid #887766;
    border-top-right-radius: 4px;
    box-shadow: -1px 1px 2px #888866 inset;
    font-size: 12px;
    margin-top: 5px;
    overflow-x: auto;
    padding: 5px 5px 5px 10px;
}
li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8,li.L9{
    list-style-type:decimal;
    background: none;
}


/* Project Styles
****************************/
div#my_projects {
    background: #000;

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius: 3px;
}

div#my_projects .project-header {
    height: 30px;

    background:-webkit-gradient(linear,0% 0%,0% 100%,
        color-stop(0%, rgba(192,192,192,1)),
        color-stop(100%, rgba(142,142,142,1)));

    background:-moz-linear-gradient(top,
        rgba(192,192,192,1),
        rgba(142,142,142,1));

    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;

    text-align: center;
}

div#projects {
    padding: 3px;
    height: 500px;
    overflow-y: scroll;
}

div#projects .project-prompt {
    height: 20px;
    float:left;
    clear: left;
    margin-right: 5px;
}

div#projects .project-command {
    height: 20px;
    float:left;
    clear: right;
}

div#projects .project-output {
    margin: 10px 0 20px;
    clear: both;
    float: left;
}

div#projects .project-output .project-indent {
    padding-left: 10px;
}

div#projects h1, div#projects h1 a {
    font-family: "Lucida Console", monospace;
    font-size: 12pt;
    margin: 5px 0;
    color: #0b0;
    text-transform: uppercase;
}

div#projects h1 a:hover {
    text-decoration: underline;
}

div#projects h2, div#projects th {
    font-family: "Lucida Console", monospace;
    font-size: 10pt;
    margin: 2px 0;
    font-weight: bold;
    text-decoration: none;
    color: #0b0;
}

div#projects th {
    text-align: left;
    vertical-align: top;
}

div#projects td {
    width: 400px;
    vertical-align: top;
}

div#projects p, div#projects p a,
div#projects td, div#projects td a {
    font-family: "Lucida Console", monospace;
    font-size: 10pt;
    margin: 0;
    text-decoration: none;
    color: #0b0;
}


/* Static Sites styles
************************/
img.align-left {
    float: left;
    margin:  6px 6px 6px 0;
}

.margin_10 {
    margin-bottom: 10px !important;
}

.margin_25 {
    margin-bottom: 25px !important;
}


/* Table of Content Styles
*******************************/
ol.toc li {
    margin-top: 10px;
}

ol.toc ol {
	list-style:lower-roman;
	margin:1.5em 0 1em 5%;
	padding:0;
	float:left;
	display:block;
	width:95%;
}
