<% content_for :grid_container_class do %>wide<% end %>
<% content_for :title do %>Edit Draft<% end %>
<h1>Edit Draft</h1>

<%= form_for @post.post_form, url: draft_path(@post) do |f| %>

  <%= render '/posts/post_form', f: f %>

<% end %>
